{% extends "myShop/index.html" %}
{% load static %}
{% block 'content' %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cloth List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Bar Code</th>
                        <th>Bar Code No.</th>
                        <th>Buying Price</th>
                        <th>Selling Price</th>
                        <th>Quantity</th>
                        <th>Created At</th>
                        <th>Edit/Delete</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Bar Code</th>
                        <th>Bar Code No.</th>
                        <th>Buying Price</th>
                        <th>Selling Price</th>
                        <th>Quantity</th>
                        <th>Created At</th>
                        <th>Edit/Delete</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    {% for d in data %}
                        <tr>
                            <td>{{ d.name }}</td>
                            <td>
                                <img src="{{ d.image }}" height="100" widht="100">
                            </td>
                            <td>
                                <img src="{{ d.bar_code }}" height="100" widht="100">
                            </td>
                            <td>{{ d.bar_code_no }}</td>
                            <td>{{ d.buying_price }}</td>
                            <td>{{ d.selling_price }}</td>
                            <td>{{ d.quantity }}</td>
                            <td>{{ d.created_at }}</td>
                            <td>
                                <a href="{% url 'product-update' d.id %}" class="btn btn-primary btn-circle">
                                    <i class="fa fa-pen"></i>
                                </a>
                                <a href="{% url 'product-delete' d.id %}" class="btn btn-danger btn-circle">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}