{% extends "myShop/index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'content' %}
    <style>
        #barcodeTable {
            counter-reset: tableCount;
        }
        .counterCell:before {
            content: counter(tableCount);
            counter-increment: tableCount;
        }
        .result{
            background-color: green;
            color:#fff;
            padding:20px;
        }
        .row{
            display:flex;
        }
        #tab #barcodeTable tfoot tr td{
            text-align: center;
        }
        #tab #barcodeTable tbody tr td{
            text-align: center;
        }




        td,
        th,
        tr,
        table {
            border-top: 1px solid black;
            border-collapse: collapse;
        }

        td.description,
        th.description {
            width: 75px;
            max-width: 75px;
        }

        td.quantity,
        th.quantity {
            width: 40px;
            max-width: 40px;
            word-break: break-all;
        }

        td.price,
        th.price {
            width: 40px;
            max-width: 40px;
            word-break: break-all;
        }

        .centered {
            text-align: center;
            align-content: center;
        }

        .ticket {
            width: 155px;
            max-width: 155px;
        }

        @media print {
            .hidden-print,
            .hidden-print * {
                display: none !important;
            }
        }
    </style>
    <script src="{% static 'js/demo/barcode.js' %}"></script>

    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div  id="reader"></div>
                <br>
                <h4>SCAN RESULT</h4>
                <br>
                <div id="result">Result Here</div>

            </div>
            <div class="col-md-8">
                <table id="barcodeTable" class="table table-bordered border-primary">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th style="display: none">ID</th>
                        <th>Name</th>
                        <th style="display: none">Bar Code No.</th>
                        <th style="display: none">Quantity Available</th>
                        <th style="display: none">Quantity</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2">Total Amount</td>
                        <td class="total-amount"></td>
                    </tr>
                    <tr>
                        <td colspan="1">Discount Amount</td>
                        <td colspan="1" class="discount-amount"><input onkeypress="discountTotal()" type="text" name="discount-amount" value="0"></td>
                        <td colspan="1" class="discount-amount-text"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Total Amount After Discount</td>
                        <td class="after-discount"></td>
                    </tr>
                    <tr>
                        <td colspan="1">Received Amount</td>
                        <td colspan="1" class="received-amount"><input onkeypress="receivedTotal()" type="text" name="received-amount" value="0" required></td>
                        <td colspan="1" class="received-amount-text"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Change Amount</td>
                        <td class="change-amount"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Payment Type</td>
                        <td class="">
                            <select name="payment_type" class="payment">
                                <option value="CASH">CASH</option>
                                <option value="CARD">CARD</option>
                                <option value="MOBILE BANKING">MOBILE BANKING</option>
                            </select>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <br>
                <button id="get-sell" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    Sell
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">বিক্রয় নিশ্চিত করুন</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ticket" id="tab">
                        <p class="centered"><b>ANANDA MELA
                            FASHION HOUSE</b>
                            <b>Address:</b> Ekta Tower,
                            2nd Floor Shop No-207,
                            210, 218 3 215 Konabari,
                            Gazipur Mahanagar
                            Jh Mohsin Dhali
                            <b>Moba:</b> 01717-263081
                            and 01922991188
                        </p>
                        <table class="sellConfirm" id="sellConfirm">
                            <thead>
                            <tr>
                                <th class="description">Name</th>
                                <th class="price">৳৳</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                            </tr>
                            <tr>
                                <td class="description">TOTAL</td>
                                <td class="priceTotal"></td>
                            </tr>
                            <tr>
                                <td class="description">Discount</td>
                                <td class="priceDiscount"></td>
                            </tr>
                            <tr>
                                <td class="description">After Discount</td>
                                <td class="priceDiscountTotal"></td>
                            </tr>
                            <tr>
                                <td class="description">Received Amount</td>
                                <td class="priceReceived"></td>
                            </tr>
                            <tr>
                                <td class="description">Change Amount</td>
                                <td class="priceChange"></td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="centered">Thanks for your
                            <br>purchase!</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button onclick="createPDF()" type="button" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/demo/new-scanner.js' %}"></script>
{% endblock %}