{% extends "myShop/index.html" %}
{% load static %}
{% block 'content' %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cloth List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Supplier Name</th>
                        <th>Supplier Address</th>
                        <th>Supplier Phone</th>
                        <th>Supplier Company Name</th>
                        <th>Edit/Delete</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Supplier Name</th>
                        <th>Supplier Address</th>
                        <th>Supplier Phone</th>
                        <th>Supplier Company Name</th>
                        <th>Edit/Delete</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    {% for d in data %}
                        <tr>
                            <td>{{ d.supplier_name }}</td>
                            <td>{{ d.supplier_address }}</td>
                            <td>{{ d.supplier_phone }}</td>
                            <td>{{ d.supplier_company_name }}</td>
                            <td>
                                <a href="{% url 'supplier-update' d.id %}" class="btn btn-primary btn-circle">
                                    <i class="fa fa-pen"></i>
                                </a>
                                <a href="{% url 'supplier-delete' d.id %}" class="btn btn-danger btn-circle">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}