{% extends "myShop/index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'content' %}
    {% if msg %}
        <div class="alert alert-success" role="alert">
            {{ msg }}
        </div>
    {% endif %}
    <div class="container">
    <form style="align-content: center" class="formR" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" name="Confirm">
        <a href="{% url 'supplier-list' %}" class="btn btn-secondary">Back</a>
    </form>
    </div>
{% endblock %}